section.sec-slide.top.text-left
    h3 Características
    ul
        li.fragment Sintaxe simples e rápida
        li.fragment Interativa
        li.fragment Baterias inclusas
        li.fragment Linguagem de Verdade: orientada a objeto, funcional, estruturada
        li.fragment Fácil de começar
