doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/agenda
				include ../slides/holland
				include ../slides/historia
				include ../slides/java
				include ../slides/seriously
				include ../slides/python-lindo.html
				include ../slides/quem-usa
				include ../slides/quem-usa-img
				include ../slides/caracteristicas
				include ../slides/vamos-comecar
				include ../slides/link
				include ../slides/obrigado
		include inc/scripts
