doctype html
html
	include inc/head
	body
		.reveal
			.slides
				include ../slides/titulo
				include ../slides/agenda
				include ../slides/python-lindo.html
				include ../slides/wow
				include ../slides/como-estilizar
				include ../slides/obrigado
		include inc/scripts
